In [6]:
import pandas as pd
import numpy as np

In [7]:
articles_df = pd.read_csv('./shared_articles.csv')
articles_df.head(5)

,timestamp,eventType,contentId,authorPersonId,authorSessionId,authorUserAgent,authorRegion,authorCountry,contentType,url,title,text,lang
0,1459192779,CONTENT REMOVED,-6451309518266745024,4340306774493623681,8940341205206233829,NaN,NaN,NaN,HTML,http://www.nytimes.com/2016/03/28/business/dea...,"Ethereum, a Virtual Currency, Enables Transact...",All of this work is still very early. The firs...,en
1,1459193988,CONTENT SHARED,-4110354420726924665,4340306774493623681,8940341205206233829,NaN,NaN,NaN,HTML,http://www.nytimes.com/2016/03/28/business/dea...,"Ethereum, a Virtual Currency, Enables Transact...",All of this work is still very early. The firs...,en
2,1459194146,CONTENT SHARED,-7292285110016212249,4340306774493623681,8940341205206233829,NaN,NaN,NaN,HTML,http://cointelegraph.com/news/bitcoin-future-w...,Bitcoin Future: When GBPcoin of Branson Wins O...,The alarm clock wakes me at 8:00 with stream o...,en
3,1459194474,CONTENT SHARED,-6151852268067518688,3891637997717104548,-1457532940883382585,NaN,NaN,NaN,HTML,https://cloudplatform.googleblog.com/2016/03/G...,Google Data Center 360° Tour,We're excited to share the Google Data Center ...,en
4,1459194497,CONTENT SHARED,2448026894306402386,4340306774493623681,8940341205206233829,NaN,NaN,NaN,HTML,https://bitcoinmagazine.com/articles/ibm-wants...,"IBM Wants to ""Evolve the Internet"" With Blockc...",The Aite Group projects the blockchain market ...,en

In [8]:
articles_df[articles_df["contentId"] == -2990485643677949494]

,timestamp,eventType,contentId,authorPersonId,authorSessionId,authorUserAgent,authorRegion,authorCountry,contentType,url,title,text,lang
652,1461864561,CONTENT SHARED,-2990485643677949494,-3390049372067052505,-7303988376323787105,NaN,NaN,NaN,HTML,https://hbr.org/2016/04/the-secret-history-of-...,The Secret History of Agile Innovation,Create a FREE account to: Get eight free artic...,en
653,1461864719,CONTENT REMOVED,-2990485643677949494,-3390049372067052505,-7303988376323787105,NaN,NaN,NaN,HTML,https://hbr.org/2016/04/the-secret-history-of-...,The Secret History of Agile Innovation,Create a FREE account to: Get eight free artic...,en
654,1461864769,CONTENT REMOVED,-2990485643677949494,-3390049372067052505,-7303988376323787105,NaN,NaN,NaN,HTML,https://hbr.org/2016/04/the-secret-history-of-...,The Secret History of Agile Innovation,Create a FREE account to: Get eight free artic...,en

In [9]:
from gensim import corpora, models, similarities
from nltk.tokenize import RegexpTokenizer
from nltk.corpus import stopwords
from nltk import download
download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\seni2\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [10]:
#Filtering only English articles
english_articles_df = articles_df[articles_df['lang'] == 'en']
#Concatenating the articles titles and bodies
english_articles_content = (english_articles_df['title'] + ' ' + english_articles_df['text']).tolist()

In [21]:
#Loading a set of English stopwords
english_stopset = set(stopwords.words('english')).union(
                  {"things", "that's", "something", "take", "don't", "may", "want", "you're", 
                   "set", "might", "says", "including", "lot", "much", "said", "know", 
                   "good", "step", "often", "going", "thing", "things", "think",
                  "back", "actually", "better", "look", "find", "right", "example", 
                   "verb", "verbs"})

In [22]:
#Tokenizing words of articles
tokenizer = RegexpTokenizer(r"(?u)[\b\#a-zA-Z][\w&-_]+\b")
english_articles_tokens = list(map(lambda d: [token for token in tokenizer.tokenize(d.lower()) if token not in english_stopset], english_articles_content))

In [23]:
#Processing bigrams from unigrams (sets of two works frequently together in the corpus)
bigram_transformer = models.Phrases(english_articles_tokens)
english_articles_unigrams_bigrams_tokens = list(bigram_transformer[english_articles_tokens])

In [25]:
#Creating a dictionary and filtering out too rare and too common tokens
english_dictionary = corpora.Dictionary(english_articles_unigrams_bigrams_tokens)
english_dictionary.filter_extremes(no_below=5, no_above=0.4, keep_n=None)
english_dictionary.compactify()
print(english_dictionary)

Dictionary<17114 unique tokens: ['actual', 'advocates', 'agreed_upon', 'agreements', 'aim']...>

In [26]:
#Processing Bag-of-Words (BoW) for each article
english_articles_bow = [english_dictionary.doc2bow(doc) for doc in english_articles_unigrams_bigrams_tokens]

In [27]:
#Training the LDA topic model on English articles
lda_model = models.LdaModel(english_articles_bow, id2word=english_dictionary, num_topics=30, passes=10, iterations=500)

In [28]:
#Processing the topics for each article
english_articles_lda = lda_model[english_articles_bow]

In [29]:
def get_topics_top_words(model, max_words):
    all_topics = model.show_topics(-1, max_words*2, False, False)
    topics = []
    for topic in all_topics:    
        min_score_word = float(abs(topic[1][0][1])) / 2.
        top_positive_words = list(map(lambda y: y[0].replace('_',' '), filter(lambda x: x[1] > min_score_word, topic[1])))[0:max_words]
        topics.append('[' + ', '.join(top_positive_words) + ']')
    return topics

#Computing the main topic of each article
topics_top_words = get_topics_top_words(lda_model, 5)

In [31]:
def get_main_topics(corpus_lda, topics_labels):
    min_strength = (1.0 / float(len(topics_labels))) + 0.01
    main_topics = map(lambda ts: sorted(ts, key=lambda t: -t[1])[0][0] if sorted(ts, key=lambda t: -t[1])[0][1] > min_strength else None, corpus_lda)
    main_topics_labels = map(lambda x: topics_labels[x] if x != None else '', main_topics)
    return list(main_topics_labels)

#Return the discovered topics, sorted by popularity
corpus_main_topics = get_main_topics(english_articles_lda, topics_top_words)

main_topics_df = pd.DataFrame(corpus_main_topics, columns=['topic']).groupby('topic').size().sort_values(ascending=True).reset_index()
main_topics_df.columns = ['topic','count']
main_topics_df.sort_values('count', ascending=False)

                                                topic  count
29            [companies, company, digital, business]    406
28                   [app, google, apps, phone, year]    265
27       [code, developers, software, there's, write]    160
26  [technology, customers, companies, company, cu...    127
25  [technology, platform, enterprise, cloud, soft...    120
24     [machine learning, users, model, user, number]    112
23  [ai, research, machine learning, deep learning...    101
22                                           [google]     87
21               [file, code, server, files, support]     87
20                                             [team]     74
19              [tests, trello, testing, test, event]     73
18                                           [drupal]     72
17     [event, events, application, system, database]     64
16              [content, google, site, search, page]     53
15                                [api, google cloud]     52
14                  [bot, users, user, app, facebook]     51
13                             [code, java, language]     47
12                 [image, performance, images, size]     36
11                     [jobs, english, job, language]     32
10                                [docker, container]     31
9    [stream, query, mongodb, elasticsearch, streams]     30
8                         [app, slack, android, view]     30
7                                  [microsoft, apple]     26
6         [google, information, search, fans, amazon]     24
5                           [mobile, growth, product]     24
4       [blockchain, smart contract, smart contracts]     21
3       [computer science, students, women, teachers]     20
2         [twitter, service, services, google, slack]     18
1     [meditation, learning, employees, ibm, company]     15
0          [polymer, elements, organization, changes]      6